body {
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    padding: 20px;
  }
  
  .columna {
    flex: 1;
    margin: 10px;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  img {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
}